.selected-country-infos {
    position: relative;
    z-index: 2;
    width: 0%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    /* background-image: url("/home/delorme/ADA/Projets_collectifs/dataviz/andy-warhol-planche-non-découpée-de-12-billets-de-1-dollar.jpg")  */
    background-color: rgb(66, 107, 107);
    /* padding: 100px 0 50px;
    overflow: hidden;
    transition: .5s ease-in-out; */
}

.selected-country-infos.actif {
    width: 20%;
    padding: 100px 15px 50px;
}

.selected-country-infos .close-btn {
    position: absolute;
    top: 100px;
    right: 20px;
    cursor: pointer;
}

.selected-country-infos .infos-content {
    flex-grow: 1;
}

.selected-country-infos .convert-btn {

}

.infos-content p:first-child {
font-size:3rem;
color: rgb(56, 35, 35);
}

.infos-content p:nth-child(2)  {
    font-size: 0.8rem;
    color: rgb(185, 155, 155);
    }

    .infos-content p:nth-child(3)  {
        font-size: 0.8rem;
        color: rgb(185, 155, 155);
        }

        .infos-content p:nth-child(4)  {
            font-size: 0.8rem;
            color: rgb(185, 155, 155);
            }  

            .infos-content img {
                width: 120px;
                height: 80px;
            }